<div>

    <div>
        <h3>My Yummy Burgers</h3>
        <ul>
            {{#each burgers}}
            <li>
                <p>
                    {{this.id}}. {{this.burger}}

                    <button data-burgerid="{{this.id}}" class="eatburger">Eat Burger</button>
                    <button data-burgerid="{{this.id}}" class="updateburger">Update Burger</button>
                </p>
            </li>
            {{/each}}
        </ul>

    </div>

    <div>
        <h3>Add a New Burger</h3>
        <form class="addBurger">
            <textarea type="text" name="burger" class="newBurger"></textarea>
            <button type="submit" class="create-burger"> Add Burger</button>
        </form>
    </div>

    <div>
        <h3> Yummy Burgers in My Belly!</h3>
        <ul class="eaten burgers">

        </ul>
    </div>




</div>